<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/styleDraw.css}" rel="stylesheet" />
</head>
<body>
    <h1>Witaj samorządowcu!</h1>
    <p>Jeżeli tu jesteś oznacza to, że trafił Cię zaszczyt bawienia w planie zajęć</p>
    <p>Spokojnie. Tworzenie tego programu i stworzenie algorytmu, który będzie działał było gorsze</p>
    <p>A teraz. Co zamierzasz zrobić?</p>

    <table>
        <tr>
            <td>
                <button type="button">
                    Zaaktualizuj dane
                </button>
            </td>
            <td>
                <button type="button">
                    Wyszukaj dane
                </button>
            </td>
        </tr>
    </table>
</body>
</html>